.navbar {
  background-color: #c4ffe4 !important;
}
.navbar-brand {
  color: #000000 !important;
}

.card {
  background-color: #c4ffe4 !important;
}
button {
  background-color: #00ffa2 !important;
  border: none !important;
}

h3 {
  color: #9affb8 !important;
}
